@import "tailwindcss";

@plugin "@iconify/tailwind4";

@theme {
    --color-gray-950: #0B2447;
    --color-gray-900: #19376D;
    --color-gray-800: #576CBC;
    --color-nodejs: #f1e05a;
    --color-markdown: #083fa1;
    --color-godot: #355570;
    --color-csharp: #178600;
    --color-svelte: #ff3e00;
    --color-typescript: #3178c6;
    --color-game: #98c379;
    --color-web: #56b6c2;
    --color-desktop: #61afef;
    --color-mobile: #e06c75;
    --color-github: #2b3137;
    --color-github-dark: #24292e;
    --color-itchio: #fa5c5c;
    --color-itchio-dark: #e04f4f;
}

.main-layout {
    background-image: url('/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.window-bar {
    @apply bg-sky-950/90 border-sky-950;
}

.bar-button {
    @apply bg-sky-800/90 rounded hover:bg-sky-500 cursor-pointer;
}

.main-window {
    @apply bg-sky-900/90 backdrop-blur-[5px] rounded-b-lg p-6 border-2 border-sky-900;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.secondary-theme {
    @apply bg-sky-800/90 rounded-xl hover:bg-sky-500 border-2 border-sky-800 hover:border-sky-600 shadow-xl
}

.secondary-theme-no-hover {
    @apply bg-sky-800/90 rounded-xl border-2 border-sky-800 shadow-xl
}

.item-tag {
    @apply bg-transparent border-sky-900;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/nunito-v26-latin-regular.woff2") format("woff2");
}